@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@700;900&family=Source+Code+Pro:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Poppins;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* *{
  border: 1px solid red;
} */

nav {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fab12f;

  background: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.auth-buttons {
  display: flex;
  height: 50%;
  margin-right: 30px;
}

.login-button,
.signup-button {
  padding: 0px 20px;
  margin: 0 5px;
  background: #fab12f;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

nav .logo {
  color: white;
  margin-left: 30px;
  cursor: pointer;
  width: 10%;
  height: 80%;

  animation-name: logo;
  animation-timing-function: 3s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

nav .logo h1 {
  width: 100%;
  height: 100%;
}

.logo-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mainMenu {
  transition: top 0.3s ease;
  position: absolute;
  top: -100%;
}

.mainMenu li a {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s ease;
}

.mainMenu li a.active {
  color: black;
}

@keyframes logo {
  25% {
    color: #ff884b;
  }
  50% {
    color: #7fb5ff;
  }
}

nav ul {
  margin-right: 30px;
}

nav .mainMenu {
  display: flex;
}

nav .mainMenu li a {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s ease;
}

nav .mainMenu li a:active {
  color: black;
}

nav .openMenu {
  position: absolute;
  right: 20px;
  font-size: 20px;
  margin: 20px;
  color: #ea6c4b;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 20px;
  display: none;
  cursor: pointer;
  transition: 0.5s;
}

.icons a i {
  color: white;
}
.fa-facebook:hover {
  color: blue;
}
.fa-instagram:hover {
  color: #ff884b;
}
.fa-tiktok:hover {
  color: blue;
}
.fa-envelope:hover {
  color: #ff884b;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #20305a;
    transition: top 1s ease 0s;
    display: flex;
  }

  .auth-buttons {
    display: flex;
    height: 50%;
    margin-right: 70px;
  }

  .login-button,
  .signup-button {
    padding: 1px 10px;
    margin: 0 5px;
  }

  nav ul {
    margin-right: 0;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    color: #ea6c4b;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    background-color: #7fb5ff;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

@media (max-width: 650px) {
  nav .logo h1 {
    height: 50px;
    width: 100px;
  }

  .logo-image {
    object-fit: contain;
  }
}

@media (max-width: 450px) {
  nav .logo h1 {
    height: 50px;
    width: 75px;
  }

  .logo-image {
    object-fit: contain;
  }
}
